.col-sm-4 {
  margin-top: 40px;
}

.col-sm-8 {
  margin-bottom: 40px;
}

.nav.nav-tabs {
  margin-top: 20px;
}

.shiny-split-layout {
  margin-top: 25px;
}

.shiny-input-container:not(.shiny-input-container-inline) {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
}